* {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
    font-size: 40px;
    margin: 40px 0;
}

#game {
  text-align: center;
  font-family: Arial, sans-serif;
}

#grid {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.box {
  height: 90px;
  background: #f2f2f2;
  border: 2px solid #333;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box.winner {
  background: yellow;
}

#resetBtn {
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
}

#status {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
